@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Readex+Pro:wght@200;400;700&display=swap");

.landign-header {
  font-family: "Readex Pro", sans-serif;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../Assets/foodTable-unsplash.jpg");
  background-size: cover;
}
